

    <div class="container">
      <div class="container">
        <h1>Usuarios#registro</h1>
        <!-- # # para mostrar mensaje de error -->
          <% if flash[:error] %>
            <span style="color:red;">
              <%= flash[:error] %>
            </span>
          <% end %>
      </div>
      <%= form_with(url: 'crear_usuario' ) do |f| %>
        <div>
          <%= f.label :nombre %>
            <%= f.text_field :nombre, class: "form-control" %>
        </div>
        <div>
          <%= f.label :apellido %>
            <%= f.text_field :apellido, class: "form-control" %>
        </div>
        <div>
          <%= f.label :correo %>
            <%= f.email_field :correo, class: "form-control" %>
        </div>
        <div>
          <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
        </div>
        <div>
          <%= f.label :selecciona_color_favorito %>
            <%= f.color_field :color_favorito, class: "form-center" %>
        </div>
        <%= f.submit "Registrar" , class: "btn btn-primary" %>
          <% end %>
    </div>